.align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btnAnimal{
    background-color: #0A84FF;
    border: none;
    color: white;
    font-family: montserrat;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.btnAnimal:hover{
    background-color: rgb(25, 79, 214);
}