body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: montserrat;
}

.Calculator{
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 250px;
    justify-content: space-around;
}

input{
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    padding: 0.3rem;
    border-radius: 3px;
    color: #36363a;
}
input::placeholder{
    color: #8E8E93;
}


button{
    background-color: #0A84FF;
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 3px;
    color: white;
    width: 100px;
    align-content: left;
}

.inputFields{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 250px;
    justify-content: space-around;
}